body {
    color: white;
}

h1 {
    font-family: "Rubik", Arial, sans-serif !important;
    font-weight: 700 !important;
}

h4 {
    font-family: "Roboto Mono", Times, sans-serif !important;
    font-weight: 700 !important;
    font-size: 20px;
}

p {
    font-family: "Roboto", Times, sans-serif !important;
    font-weight: 500 !important;
    font-size: 14px;
}

p2 {
    padding-bottom: 20px;
    font-weight: 400;
    font-size: 16px;
}


.greentext {
    color: #2ecc71;
}

.whitetext {
    color: #fff;
}

.header {
    margin-top: 15px;
}

.top{
    margin-top:15%;
    margin-bottom:10%;
}

.top-about{
    margin-top:10%;
    margin-bottom:5%;
}

.human-image {
    max-width:250px;
    border-radius: 50%;
    margin-top: 15px;
}

.about-image {
    max-width:100%;
        border-radius: 1%;
    margin-top: 15px;
}
.project-paragraph {
    padding: 20px;
}

.bold{
    font-weight:700;
}

.card-title{
    font-size:calc(11px + 0.9vw);
    padding-right:38%;
     font-weight:700;
}
.card-text{
        font-size:calc(13px + 0.2vw);
        padding-right:38%;   
}


.card {
        margin: 10px;
}

.footer{
    background-color: #333333;
        padding:3%;
}


.btn-success{
    margin-top:10px;
    margin-right:15px;
    padding:10px !important;
    color: #ffffff !important;
    background-color: #2ecc71 !important; 
}

.pad{
    margin-top:40px;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
}

.video-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}

.navbar-toggler{
    background-color: #2ecc71 !important; 
    color: #ffffff !important;
}

.navbar-dark .navbar-toggler {
  color: rgba(255, 255, 255, 1);
  border-color: rgba(255, 255, 255, 0.1);
}

.hongkong{
    width:40px;
    margin-left:10px;
}

.alert{
  position: relative;
  padding: 0.4rem 0.7rem !important;
  margin: 1rem !important;
  border: 1px solid transparent;
  border-radius: 0.20rem !important;   
}

.alert-danger {
  color: #ffffff !important;
  background-color: #FD5C63 !important;
  border-color: #FD5C63 !important;
}