body {
    color: white;
}

h1 {
    font-family: "Rubik", Arial, sans-serif !important;
    font-weight: 700 !important;
}

h2 {
    font-family: "Roboto Mono", Times, sans-serif;
    font-weight: 300;
    font-size: 20px;
}

p1 {
    font-family: "Roboto", Times, sans-serif;
    font-weight: 300;
    font-size: 14px;
}

p2 {
    padding-bottom: 20px;
    font-weight: 400;
    font-size: 16px;
}


.greentext {
    color: #2ecc71;
}

.whitetext {
    color: #fff;
}

.header {
    margin-top: 15px;
}

.project-title {
    font-size: 32px;
    font-weight: 500 !important;
}

.project-image {
    height: 150px;
}

.human-image {
    max-width:300px;
    border-radius: 50%;
    margin-top: 15px;
}
.project-paragraph {
    padding: 20px;
}

.bold{
    font-weight:700;
}

.btn-green{
    padding:15px;
    background-color:#2ecc71;
}


